$main-color : #18181b;
$side-color : #8232fa;
$home-img : url(../img/background.jpg);
$about-img : url(../img/background-1.jpg);

@mixin backgroundImg{
    background-image : $home-img;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size : cover;
}

@mixin transitionAll{
    transition: all 650ms;
}

@mixin myPortrait{
    height : 150px;
    width : 150px;
    border : 3px solid $side-color;
    border-radius: 45%;
    margin : 10vh auto;
}